#cabecalho{
    display: flex;
    justify-content: center;
    color: #e4fcff;
}

#campo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 30px;
    font-family: 'impact';
    
}


.quadrado{ 
    width: 80px;
    height: 80px;
    background-color: #42d4e7 ;
    border-radius: 7px;
    font-size: 60px;
    text-align: center;
    color: #e4fcff;    
  
}
body{
    background-color: #21909f;
}

h1{
    justify-content: center;
    align-items: center;
    font-family: 'impact';
    font-size: 50px;
    font-weight: 100;
}

#column1{
    width: 80px;
    height: 80px;
    background-color: #42d4e7 ;
    border-radius: 7px;

}